.form-style{border:1px solid #999; padding:15px; width:300px;float:left;}
.form-container{font-family: Arial, Helvetica, sans-seriff; font-size: 12px; padding:20px;}
.firstColumn{width:100px; font-weight: bold; display: inline-block; float:left;}
.secondColumn{width:172px; font-weight: bold; display: block; float:left;}